<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Welcome to Babilon</title>
</head>

<body>
  <h1>Welcome <%= name %>!</h1>
  <p>Thank you for joining Babilon. We're excited to have you on board!</p>
  <% if (verificationUrl) { %>
    <p>Please verify your email by clicking the link below:</p>
    <a href="<%= verificationUrl %>">Verify Email</a>
    <% } %>
      <p>Best regards,<br>The Babilon Team</p>
</body>

</html>